.timestamp {
  float: right;
  font-size: 14px;
  color: #c2c6b7;
}

article {
  margin-bottom: 30px;
  padding: 0 40px;

  img {
    border: 1px solid #DDD;
    padding: 5px;
    margin-bottom: 10px;
  }

  pre {
    border: 1px solid $mainColor;
    border-left-width: 15px;
    background-color: transparent;
    padding: 5px;
    overflow: auto;
    text-shadow: none;
  }

  h4 {
    margin-top: 30px;
  }
}

article + article {
  border-top: 1px dashed #ccc;
}

#disqus_thread {
  margin-top: 30px;
}

.article-nav {
  position: fixed;
  top: 50%;
  color: white;
  text-shadow: 0 0 2px #333;

  &#prev {
    left: 15px;
  }

  &#next {
    right: 15px;
  }

  &:hover {
    color: white;
    text-decoration: none;
  }

  i {
    font-size: 60px;
    line-height: 42px;
  }

  .tooltip-inner {
    white-space: nowrap;
  }
}

.article-list {
  li {
    line-height: 180%;
  }
}