#image_gallery {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;

  $padding: 6px;

  li {
    width: 220px;
    display: none;
    text-align: center;
    //padding: $padding $padding 30px;
    background-color: rgba(255, 255, 255, 0.4);
    @include border-radius(2px);

    img {
      width: 220px;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 220px;
      text-align: left;
      padding: 5px;
      color: white;
      text-shadow: 1px 1px 4px rgba(71,80,23,0.3);
    }

    &:hover {
      @include scale(1.1);
      @include transition(all 0.2s ease-in-out);
      background-color: #f6f6f6;
      @include box-shadow(0 0 3px 3px white);
      z-index: 100;
    }
  }
}
