#image_gallery {
  position: relative;
  list-style-type: none;
  margin: 0;

  $padding: 5px;

  li {
    width: 220px;
    display: none;
    text-align: center;
    padding: $padding $padding 30px;
    background-color: $blockColor;
    @include border-radius(2px);

    img {
      width: 220px;
    }

    span {
      position: absolute;
      bottom: 0;
      left: $padding;
      width: 220px;
      text-align: left;
      padding: 5px 0;
    }

  }
}
