@import "bootstrap";
@import "font-awesome";
@import "_mixins";
@import "timeline";
@import "code-highlight";

$mainColor: #ea4c88;

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Hiragino Sans GB W3" arial;
  color: #333;
}

a {
  color: lighten($mainColor, 10%);
  &:hover {
    color: $mainColor;
    text-decoration: none;
  }
}

header {
  @include gradient-striped($mainColor);
  a {
    color: lighten($mainColor, 30%);

    &:hover {
      color: lighten($mainColor, 30%);
    }
  }
  h1 {
    margin: 0 auto;
    padding: 30px 0;
    text-shadow: 1px 1px 8px #333;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
}

.row {
  margin-top: 30px;
}

.timestamp {
  float: right;
  font-size: 14px;
  color: #999;
}

article {
  padding: 30px;
  margin-bottom: 30px;
  @include box-shadow(0 0 15px #DDD);

  img {
    border: 1px solid #DDD;
    padding: 5px;
    margin-bottom: 10px;
  }

  pre {
    border: 1px solid #DDD;
    border-left-width: 15px;
    background-color: #FBFBFB;
    padding: 5px;
    overflow: scroll;
  }
}

aside {
  h4 {
    color: $mainColor;
    border-bottom: 1px dotted $mainColor;
  }

}

footer {
  margin-top: 30px;
  margin-bottom: 60px;
}

.tags {
  margin-left: 0;
  list-style: none;

  li {
    display: inline-block;
    border: 1px solid lighten($mainColor, 25%);
    margin-right: 5px;
    margin-bottom: 8px;
    a {
      display: block;
      height: 100%;

      .tag {
        padding: 0 10px;
      }

      .number {
        background-color: $mainColor;
        color: white;
        display: inline-block;
        padding: 0 4px;
        position: relative;

        .convex {
          position: absolute;
          left: -3px;
          top: 7px;
          @include square(8px);
          @include border-radius(4px);
          background-color: $mainColor;
        }
      }
    }
  }
}

#disqus_thread {
  margin-top: 30px;
}

.article-nav {
  margin: 30px 0;
}