$blockColor: #FCFBF2;

@import "bootstrap";
@import "font-awesome";
@import "_mixins";
@import "timeline";
@import "code-highlight";
@import "article";

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Hiragino Sans GB W3" arial;
  color: #333;
  background: #000000 url(/images/running.jpg) no-repeat top center;
  @include background-size(100%);
  background-attachment: fixed;
}

a {
  color: lighten(#B16D53, 10%);
  &:hover {
    color: #B16D53;
    text-decoration: none;
  }
}

pre {
  @include border-radius(0);
}

.pagination ul {
  > li:first-child, > li:last-child {
    > a, > span {
      @include border-radius(0);
    }
  }
}

header {
  a {
    color: white;

    &:hover {
      color: white;
    }
  }
  h1 {
    margin: 0 auto 20px;
    padding: 30px 0;
    text-shadow: 1px 1px 8px #333;
    font-family: "Comic Sans MS", cursive, sans-serif;
    .first-char {
      font-size: 400%;
      vertical-align: top;
      position: relative;
      top: 30px;
      @include inline-block;
      color: #E2B783;
    }
  }

  em {
    margin-top: 25px;
    color: #EEE;
    letter-spacing: 4px;
    text-shadow: 0 0 4px #F8E3AF;
    text-align: right;
  }
}

aside {
  h4 {
    color: white;
    text-shadow: 0 1px 1px #333;
    border-bottom: 1px dotted white;
  }

}

footer {
  margin-top: 30px;
  margin-bottom: 60px;
}

.block {
  @include box-shadow(0 0 1px #666);
  background-color: $blockColor;
  padding: 30px;
}

.tags {
  margin-left: 0;
  margin-bottom: 40px;
  list-style: none;

  li {
    @include inline-block;
    border: 1px solid #7B8273;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 8px;
    a {
      display: block;
      height: 100%;

      .tag {
        padding: 0 10px;
      }

      .number {
        background-color: #7B8273;
        color: white;
        @include inline-block;
        padding: 0 4px;
        position: relative;

        .convex {
          position: absolute;
          left: -3px;
          top: 7px;
          @include square(8px);
          @include border-radius(4px);
          background-color: #7B8273;
        }
      }
    }
  }
}

.photo-paper {
  border-color: $blockColor;
  border-width: 8px 8px 44px;
  border-style: solid;
  height: 250px;
  text-align: center;
  background-color: rgba(0, 0, 0, .2);
  background-position: center top;
  @include box-shadow(0 0 1px #666);
  font-size: 16px;

  a {
    position: relative;
    top: 250px;
    line-height: 44px;
  }

  &.tech {
    background-image: url(/images/tech.jpg);
  }

  &.life {
    background-image: url(/images/life.jpg);
  }

  &.about-me {
    background-image: url(http://ww4.sinaimg.cn/mw690/687c9fd1gw1dxfzvrgsq9j.jpg);
    background-size: auto 250px;
  }
}