$mainColor: #ff769f;

@import "font-awesome.min.css";
@import "_mixins";
@import "_code-highlight";
@import "_article";
@import "_photos";
@import "_contact";

body { padding-top: 70px; }

.navbar-default {
  background-color: $mainColor;
  border-bottom: none;
  .navbar-brand, .navbar-brand:hover, .navbar-nav>li>a, .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: #ffffff;
  }

  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    color: $mainColor;
    background-color: #ffffff;
  }

  .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: lighten($mainColor, 25%);
  }
}
a {
  color: $mainColor;
  &:hover {
    background: transparent;
    text-decoration: none;
    color: darken($mainColor, 20%);
  }
}

footer {
  margin-top: 30px;
  margin-bottom: 60px;
}

.badge {
  background-color: $mainColor;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: $mainColor;
  border-color: $mainColor;
  .badge {
    color: $mainColor;
  }
}

.tags {
  margin-left: 0;
  margin-bottom: 30px;
  list-style: none;
  padding: 0;

  li {
    @include inline-block;
    border: 1px solid $mainColor;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 8px;
    a {
      display: block;
      height: 100%;

      .tag {
        padding: 0 10px;
      }

      .number {
        background-color: $mainColor;
        color: white;
        @include inline-block;
        padding: 0 4px;
        position: relative;

        .convex {
          position: absolute;
          left: -3px;
          top: 7px;
          @include square(8px);
          @include border-radius(4px);
          background-color: $mainColor;
        }
      }
    }

    &:hover {
      @include scale(1.1);
      @include transition(all 0.2s ease-in-out);
      @include box-shadow(0 0 10px $mainColor);
    }
  }

}

.loading {
  display: block !important;
  text-align: center !important;
  width: 100% !important;
}

.pagination > .active {
  > a, > span, > a:hover, > span:hover, > a:focus, > span:focus {
    background-color: $mainColor;
    border-color: $mainColor;
  }
}

.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: $mainColor;
}