#timeline {
  overflow: hidden;
  margin: 50px 0;
  position: relative;
  background-image: url("../images/dot.gif");
  background-position: left 45px;
  background-repeat: repeat-x;

  li {
    list-style: none;
  }

  #dates {
    float: left;
    height: 60px;
    overflow: hidden;
    padding: 0;
    margin: 0;

    li {
      float: left;
      width: 200px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-align: center;
      background: url("../images/biggerdot.png") center bottom no-repeat;
      a {
        @include opacity(0.8);
        &:hover {
          @include opacity(1);
        }

        &.selected {
          font-size: 34px;
          @include opacity(1);
        }

      }
    }

  }

  #issues {
    $height: 220px;
    height: $height;
    width: 100%;
    overflow: hidden;

    li {
      float: left;
      text-align: center;

      .article-list {
        display: table-cell;
        vertical-align: middle;
        width: 880px;
        height: $height;
      }
    }
  }

  #prev, #next {
    font-size: 50px;
    line-height: 100%;
    top: 50%;
    position: absolute;
    @include opacity(0.5);
    &:hover {
      @include opacity(1);
    }
  }

  #prev {
    left: 10px;
  }

  #next {
    right: 10px;
  }

  #grad_left, #grad_right {
    position: absolute;
    width: 80px;
    height: 450px;
    top: 0;
  }

  $non-transparent-color: hsl(hue($blockColor), saturation($blockColor), lightness($blockColor));
  $transparent-color: hsla(hue($blockColor), saturation($blockColor), lightness($blockColor), 0);
  #grad_left {
    left: 0;
    @include gradient-horizontal($non-transparent-color, $transparent-color);
  }

  #grad_right {
    right: 0;
    @include gradient-horizontal($transparent-color, $non-transparent-color);
  }
}