<aside>
  <h3>最近发布</h3>
  <ul>
    <% blog.articles[0...10].each do |article| %>
        <li>
          <a href="<%= article.url %>"><%= article.title %></a>
        </li>
    <% end %>
  </ul>

  <h3>标签</h3>
  <ul class="tags">
    <% blog.tags.each do |tag, articles| %>
        <li><%= labeled_link tag, articles.size, tag_path(tag) %></li>
    <% end %>
  </ul>

  <h3>历史</h3>
  <ul class="tags">
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><%= labeled_link "#{year}年", articles.size, blog_year_path(year) %></li>
    <% end %>
  </ul>
</aside>
