---
pageable: false
---

<% content_for :title, "#{year}年" %>
<p>
  <% link_to tag_path('tech') do %>
      <i class="fa fa-angle-double-left"></i> 返回
  <% end %>
</p>

<% page_articles.each do |article| %>
    <p><%= link_to article.title, article %></p>
<% end %>